

.tags {}
.hitags {
   background-color: #FF9200;
}

#login {
   color: #999999;
   margin-bottom: 10px;
   margin-top: 10px;
}

#login a {
   color: #999999;
   text-decoration: none;
}

#login a:focus,
#login a:hover {
   color: #ffffff;
}
